* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 232, 232);
  padding: 5px;
  height: 100%;
}

nav {
  margin-top: 4px;
  display: flex;
}

hr {
  border: 0.4px solid black;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 96.5%;
  align-content: center;
  border: 2px solid black;
  padding-right: 11px;
  padding-left: 11px;
  height: 44px;
  background-color: rgb(39 202 202);
}

#list {
  height: 279px;
  width: 100%;
  padding-top: 144px;
}

#add-new, #contact{
  padding-top: 144px;
  height: 279px;
}

#contact {
  width: 500px;
}

#list-contact>li {
  margin-left: 50px;
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  font-size: 14px;
}

#paragraph-contact {
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  font-size: 14px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-size: 23px;
  text-align: center;
  padding: 8px;
  position: relative;
  bottom: 100px;
}

#book-list {
  border: 2px solid black;
  margin: -2px;
  padding: 4px;
  width: 98%;
  min-height: 21px;
  margin-top: -89px;
  margin-left: 4px;
  background-color: cornsilk;
}

.bookInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-size: 10px;
  font-weight: bolder;
  padding: 1px;
}

.remove {
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  border-top: 2px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(239, 100, 128);
}

.textBook {
  display: flex;
  flex-direction: row;
  width: auto;
}

.titleBook {
  width: auto;
  font-size: 10px;
  padding-right: 3px;
}

.authorName {
  width: auto;
  font-size: 10px;
}

h2 {
  font-family: 'Short Stack', cursive;
  font-size: 20px;
  margin-bottom: -41px;
  text-align: center;
  position: relative;
  bottom: 100px;
}

h4 {
  font-family: 'Short Stack', cursive;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}

.little-form {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-top: -50px;
}

#title {
  border: 2px solid black;
  margin-bottom: 23px;
  padding: 3px;
  background-color: cornsilk;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  width: 100%;
}

#title::placeholder {
  font-family: 'Short Stack', cursive;
  padding: 3px;
  color: black;
  font-weight: bolder;
}

#author {
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 3px;
  background-color: cornsilk;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  width: 100%;
}

#author::placeholder {
  font-family: 'Short Stack', cursive;
  padding: 3px;
  color: black;
  font-weight: bolder;
}

#add {
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  border-top: 2px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 91%;
  margin-top: 13px;
  width: 45px;
  background-color: rgb(103, 213, 167);
}

.hidden {
  display: none;
}

#item1, #item2, #item3 {
  text-decoration: none;
  color: black;
  padding-left: 9px;
  padding-right: 9px;
}

#nav-books a {
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
}

#nav-books a:hover,
#nav-books a.active {
  color: cornsilk;
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
}

#logo-books {
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  padding-left: 15px;
}

#date-time {
  font-family: 'Lato', sans-serif;
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  padding: 5px;
}

#date-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#copyright {
  border: 2px solid black;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  border: 1px solid;
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
  padding-bottom: 10px;
  background-color: aquamarine;
}

footer p {
  padding-right: 16px;
  text-align: right;
  font-weight: bolder;
  padding-top: 14px;
  font-family: 'Short Stack', cursive;
  padding-bottom: 9px;
}
